<div class="container">
    <div class="card">
        <div class="card-header">
            <h3 *ngIf="login.role === 'DIRECTOR' || login.role === 'SECRETARIA'">Panel de control</h3>
            <h3 *ngIf="login.role === 'ESTUDIANTE' || login.role === 'DOCENTE'">Bienvenidos</h3>
        </div>
        <div class="card-body">
            <div class="row" *ngIf="login.role === 'DIRECTOR' || login.role === 'SECRETARIA'">
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <a class="dashboard-stat bg-primary" href="/students/management">
                        <span class="number counter">{{students}}</span>
                        <span class="name">Estudiantes</span>
                        <span class="bg-icon"><i class="fa fa-users"></i></span>
                    </a>
                    <!-- /.dashboard-stat -->
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <a class="dashboard-stat bg-danger" href="/courses/management">
                        <span class="number counter">{{materias}}</span>
                        <span class="name">Materias</span>
                        <span class="bg-icon"><i class="fa fa-ticket"></i></span>
                    </a>
                    <!-- /.dashboard-stat -->
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <a class="dashboard-stat bg-warning" href="/years/management">
                        <span class="number counter">{{years}}</span>
                        <span class="name">Año Escolar</span>
                        <span class="bg-icon"><i class="fa fa-bank"></i></span>
                    </a>
                    <!-- /.dashboard-stat -->
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <a class="dashboard-stat bg-success" href="">
        
                        <span class="number counter">0</span>
                        <span class="name">Notas Publicadas</span>
                        <span class="bg-icon"><i class="fa fa-file-text"></i></span>
                    </a>
                    <!-- /.dashboard-stat -->
                </div>
            </div>
            <div class="row" *ngIf="login.role === 'ESTUDIANTE' || login.role === 'DOCENTE'">
                <div class="col-md-12">
                    <img src="assets/imgs/bg-colegio.jpg" alt="" class="img-fluid">
                </div>
            </div>
        </div>
    </div>
</div>