<div class="container">
    <div class="card">
        <div class="card-header">
            <div class="row">
                <div class="col-md-8">
                    <h3>Gestionar Estudiantes</h3>
                </div>
                <div class="col-md-4">
                    <a href="/users2/add" class="btn btn-success float-right"><i
                            class="fas fa-user-plus"></i> Crear Estudiantes</a>
                </div>
            </div>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
            <table id="example1" class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Nombres</th>
                        <th>Apellidos</th>
                        <th>Dirección</th>
                        <th *ngIf="login.role == 'DIRECTOR'">Rol</th>
                        <th>Acción</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let user of users; let i = index;">
                        <td>{{i+1}}</td>
                        <td>{{user.nombres}}</td>
                        <td>{{user.apePaterno}} {{user.apeMaterno}}</td>
                        <td>{{user.direccion}}</td>
                        <td *ngIf="login.role == 'DIRECTOR'">{{user.role}}</td>
                        <td>
                            <a class="btn btn-info" href="/users2/edit/{{user.id_persona}}"><i
                                    class="fas fa-edit"></i></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!-- /.card-body -->
    </div>
</div>