<div class="container ">
    <div class="card">
        <div class="card-header">
            <h3>Reporte Matriculados</h3>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="form-group col-md-4">
                    <label>Año</label>
                    <select class="form-control" [(ngModel)]="anio">
                        <option *ngFor="let year of years;" [value]="year.id_anio">{{year.nombre}} - {{year.turno}} -
                            - {{year.numero}} - {{year.seccion}} - {{year.nivel}} </option>
                    </select>
                </div>
                <div class="form-group col-md-3">
                    <label>Fecha Inicio:</label>

                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
                        </div>
                        <input type="text" class="form-control" data-inputmask-alias="datetime"
                            data-inputmask-inputformat="dd/mm/yyyy" data-mask id="datemask">
                    </div>
                    <!-- /.input group -->
                </div>
                <div class="form-group col-md-3">
                    <label>Fecha Fin:</label>

                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
                        </div>
                        <input type="text" class="form-control" data-inputmask-alias="datetime"
                            data-inputmask-inputformat="dd/mm/yyyy" data-mask id="datemask2">
                    </div>
                    <!-- /.input group -->
                </div>
                <div class="form-group col-md-2">
                    <label>Opción</label>
                    <button class="form-control btn btn-primary" (click)="getMatriculados()">REPORTAR</button>
                </div>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header">
            <div class="row">
                <div class="col-md-8">
                    <h3>Resultados</h3>
                </div>
                <div class="col-md-4">
                    <button class="btn btn-primary float-right" (click)="generarPdf()" *ngIf="showButton">Generar
                        Pdf</button>
                </div>
            </div>
        </div>
        <div class="card-body">
            <table id="example1" class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Dni</th>
                        <th>Nombres</th>
                        <th>Apellidos</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let alumno of alumnos; let i = index;">
                        <td>{{i+1}}</td>
                        <td>{{alumno.dni}}</td>
                        <td>{{alumno.nombres}}</td>
                        <td>{{alumno.apePaterno}} {{alumno.apeMaterno}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>