<div class="container ">
    <div class="card">
        <div class="card-header">
            <h3>Editar Materia/Año</h3>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col">
                    <h4>HORARIOS</h4>
                </div>
                <div class="bootstrap-timepicker">
                    <div class="form-group">
                        <label>Time picker:</label>

                        <div class="input-group date" id="timepicker" data-target-input="nearest">
                            <input type="text" class="form-control datetimepicker-input" data-target="#timepicker" />
                            <div class="input-group-append" data-target="#timepicker" data-toggle="datetimepicker">
                                <div class="input-group-text"><i class="far fa-clock"></i></div>
                            </div>
                        </div>
                        <!-- /.input group -->
                    </div>
                    <!-- /.form group -->
                </div>
            </div>
        </div>
    </div>
</div>