<template-general class="layout-footer-fixed app-dashboard">
    <template-navbar template-navbar></template-navbar>
    <template-sidebar template-sidebar>
        <div template-menu>
            <nav class="mt-2">
                <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu"
                    data-accordion="false">
                    <li class="nav-item">
                        <a href="/dashboard" class="nav-link">
                            <i class="nav-icon fas fa-tachometer-alt"></i>
                            <p *ngIf="login.role === 'DIRECTOR' || login.role === 'SECRETARIA'">Panel de control</p>
                            <p *ngIf="login.role === 'ESTUDIANTE' || login.role === 'DOCENTE'">Panel Bienvenida</p>
                        </a>
                    </li>
                    <li class="nav-item" *ngIf="login.role === 'DIRECTOR' || login.role === 'SECRETARIA'">
                        <a href="users/management" class="nav-link" *ngIf="login.role === 'DIRECTOR'">
                            <i class="nav-icon fas fa-user"></i>
                            <p>Gestionar Usuarios</p>
                        </a>
                        <a href="users/management" class="nav-link" *ngIf="login.role === 'SECRETARIA'">
                            <i class="nav-icon fas fa-user"></i>
                            <p>Gestionar Estudiantes</p>
                        </a>
                    </li>                    
                    <li class="nav-item" *ngIf="login.role === 'DIRECTOR' || login.role === 'SECRETARIA'">
                        <a href="students/management">
                            <i class="nav-icon fas fa-user"></i>
                            <p>Gestionar Matriculas</p>
                        </a>
                    </li>
                    <li class="nav-item has-treeview" *ngIf="login.role === 'DIRECTOR' || login.role === 'SECRETARIA'">
                        <a href="#" class="nav-link">
                            <i class="nav-icon fas fa-money-check-alt"></i>
                            <p>
                                Pagos Apafa
                                <i class="fas fa-angle-left right"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                            <li class="nav-item">
                                <a href="apafa/pagos" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Registrar Pago</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="apafa/reports" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Reporte Deudas</p>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item has-treeview" *ngIf="login.role === 'DIRECTOR' || login.role === 'SECRETARIA'">
                        <a href="#" class="nav-link">
                            <i class="fas fa-chalkboard-teacher nav-icon"></i>
                            <p>
                                Docentes
                                <i class="fas fa-angle-left right"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                            <li class="nav-item">
                                <a href="teachers/add" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Asignar Docentes/Año</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="teachers/management" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Editar Docentes/Año</p>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item has-treeview" *ngIf="login.role === 'DIRECTOR' || login.role === 'SECRETARIA'">
                        <a href="#" class="nav-link">
                            <i class="nav-icon fas fa-file-alt"></i>
                            <p>
                                Periodo
                                <i class="fas fa-angle-left right"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                            <li class="nav-item">
                                <a href="/years/add" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Añadir Periodo</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="/years/management" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Editar Periodo</p>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item has-treeview" *ngIf="login.role === 'DIRECTOR' || login.role === 'SECRETARIA'">
                        <a href="#" class="nav-link">
                            <i class="nav-icon fas fa-file-alt"></i>
                            <p>
                                Materias
                                <i class="fas fa-angle-left right"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                            <li class="nav-item">
                                <a href="courses/add" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Crear Materias</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="courses/management" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Editar Materias</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="courses/add-year" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Asignar Materias/Año</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="courses/management-year" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Editar Materias/Año </p>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item has-treeview" *ngIf="login.role == 'ESTUDIANTE' || login.role == 'DOCENTE'">
                        <a href="#" class="nav-link">
                            <i class="nav-icon fas fa-file-alt"></i>
                            <p>
                                Materias
                                <i class="fas fa-angle-left right"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                            <li class="nav-item">
                                <a href="/perfil/my-courses" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Mis cursos</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="/perfil/#" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Notas curso</p>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item" *ngIf="login.role == 'ESTUDIANTE'">
                        <a href="/perfil/schedule" class="nav-link">
                            <i class="nav-icon far fa-calendar-alt"></i>
                            <p>Horario</p>
                        </a>
                    </li>
                    <li class="nav-item has-treeview" *ngIf="login.role == 'ESTUDIANTE' || login.role == 'DOCENTE'">
                        <a href="#" class="nav-link">
                            <i class="nav-icon fas fa-file"></i>
                            <p>
                                Reportes
                                <i class="fas fa-angle-left right"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                            <li class="nav-item">
                                <a href="/perfil/reports" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Reporte de notas</p>
                                </a>
                            </li>
                        </ul>
                    </li>                    
                </ul>
            </nav>
        </div>
    </template-sidebar>
    <div template-wrapper class="content-wrapper">
        <router-outlet></router-outlet>
    </div>
    <!-- /.col -->
    <template-footer template-footer class="main-footer"></template-footer>
</template-general>