<template-general class="layout-footer-fixed app-dashboard">
    <template-navbar template-navbar></template-navbar>
    <template-sidebar template-sidebar>
        <div template-menu>
            <nav class="mt-2">
                <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu"
                    data-accordion="false">
                    <li class="nav-item">
                        <a href="./index.html" class="nav-link">
                            <i class="nav-icon fas fa-tachometer-alt"></i>
                            <p>Dashboard</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="./index.html" class="nav-link">
                            <i class="nav-icon fas fa-desktop"></i>
                            <p>Monitoreo</p>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </template-sidebar>
    <div template-wrapper class="content-wrapper">

    </div>
    <!-- /.col -->
    <template-footer template-footer class="main-footer"></template-footer>
</template-general>