<div class="container">
    <div class="card">
        <div class="card-header">
            <div class="row">
                <div class="col-md-8">
                    <h3>Gestionar Matriculas</h3>
                </div>
                <div class="col-md-4">
                    <a href="/students/add" class="btn btn-success float-right"><i class="fas fa-plus"></i> Crear Matrícula</a>
                </div>
            </div>            
        </div>
        <!-- /.card-header -->
        <div class="card-body">
            <table id="example1" class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Nombres</th>
                        <th>Apellidos</th>
                        <th>Fecha Registro</th>
                        <th>Estado</th>
                        <th>Acción</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let user of users; let i = index;">
                        <td>{{i+1}}</td>
                        <td>{{user.nombres}}</td>
                        <td>{{user.apePaterno}} {{user.apeMaterno}}</td>                        
                        <td>{{user.fecha_registro}}</td>
                        <td>
                            <div class="badge badge-warning" *ngIf="user.estado === 'PENDIENTE'">{{user.estado}}</div>
                            <div class="badge badge-success" *ngIf="user.estado === 'MATRICULADO'">{{user.estado}}</div>
                        </td>
                        <td>
                            <a class="btn btn-info" href="/students/edit/{{user.id_persona}}"><i class="fas fa-edit"></i></a>
                            <button class="btn btn-success ml-1" (click)="download(user.id_persona)" *ngIf="user.estado === 'MATRICULADO'"><i class="fas fa-file-pdf"></i></button>
                        </td>
                    </tr>
                </tbody>  
            </table>
        </div>
        <!-- /.card-body -->
    </div>
</div>