<div class="container">
    <div class="card">
        <div class="card-header">
            <div class="row">
                <div class="col-md-8">
                    <h3>Gestionar Docentes</h3>
                </div>
                <div class="col-md-4">
                    <a href="/teachers/add" class="btn btn-success float-right"><i class="fas fa-plus"></i> Asignar Docente/Periodo</a>
                </div>
            </div>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
            <table id="example1" class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Docente</th>
                        <th>Fecha</th>
                        <th>Acción</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let teachersYear of teachersYear; let i = index;">
                        <td>{{i+1}}</td>
                        <td>{{teachersYear.nombres}} {{teachersYear.apePaterno}} {{teachersYear.apeMaterno}}</td>
                        <td>{{teachersYear.fecha}}</td>
                        <td>
                            <a class="btn btn-info" href="teachers/edit/{{teachersYear.id_docente}}"><i class="fas fa-edit"></i></a>
                        </td>
                    </tr>
                </tbody>  
            </table>
        </div>
        <!-- /.card-body -->
    </div>
</div>