<div class="container">
    <div class="card">
        <div class="card-header">
            <div class="row">
                <div class="col-md-8">
                    <h3>Material Educativo</h3>
                </div>
                <div class="col-md-4" *ngIf="login.role == 'DOCENTE'">
                    <button class="btn btn-success float-right" (click)="showDialog = !showDialog"><i
                            class="fas fa-plus"></i> Nuevo Modulo</button>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-12">
                    <div class="accordion" id="accordionExample">
                        <div class="card" *ngFor="let modulo of modulos">
                            <div class="card-header" id="headingOne">
                                <h2 class="mb-0">
                                    <button class="btn btn-link btn-block text-left" type="button"
                                        data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
                                        aria-controls="collapseOne">
                                        {{modulo.nombre}}
                                    </button>
                                </h2>
                            </div>

                            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                                data-parent="#accordionExample">
                                <div class="row">
                                    <div class="col-md-12" *ngIf="login.role == 'ESTUDIANTE'">
                                        <div class="row">
                                            <div class="card col-md-2"
                                                *ngFor="let archivo of modulo.archivos">
                                                <div class="card-body">
                                                    <a
                                                        href="http://localhost/api-sga/public/archivos/{{archivo.filename}}">
                                                        <img class="img-fluid" src="assets/imgs/file.png" alt="">
                                                        <p class="text-center mt-2" style="font-size: 12px;">
                                                            {{archivo.nombre}}</p>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-8" *ngIf="login.role == 'DOCENTE'">
                                        <div class="row">
                                            <div class="card col-md-3"
                                                *ngFor="let archivo of modulo.archivos">
                                                <div class="card-body">
                                                    <button class="btn btn-danger float-right btn-sm" (click)="borrarArchivo(modulo, archivo.id_archivos)"><i class="fas fa-trash-alt"></i></button>
                                                    <a
                                                        href="http://localhost/api-sga/public/archivos/{{archivo.filename}}">
                                                        <img class="img-fluid" src="assets/imgs/file.png" alt="">
                                                        <p class="text-center mt-2" style="font-size: 12px;">
                                                            {{archivo.nombre}}</p>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4" *ngIf="login.role == 'DOCENTE'">
                                        <div class="card-body">
                                            <input type="file" class="form-control-file"
                                                (change)="handleFileInput($event.target.files)"
                                                (click)="selectModulo(modulo)">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <app-dialog [(visible)]="showDialog" [width]="40" [height]="30" [headerColor]="'#343A40'" [resizable]=false>
            <dialog-header class="text-white">Crear Módulo</dialog-header>
            <dialog-body>
                <div class="container">
                    <div class="row">
                        <div class="col text-center">
                            <input class="form-control mt-2 mb-2" placeholder="Ej: MODULO 1" [(ngModel)]="tDialog"
                                type="text" />
                            <button class="btn btn-secondary mr-2" (click)="showDialog = !showDialog">Cerrar</button>
                            <button class="btn btn-success ml-2" (click)="crearModulo()">Crear</button>
                        </div>
                    </div>
                </div>
            </dialog-body>
        </app-dialog>
    </div>