<div class="container">
    <div class="card">
        <div class="card-header">
            <h3>Editar Materias</h3>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
            <table id="example1" class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Nombre</th>
                        <th>Código Materia</th>
                        <th>Fecha de creación</th>
                        <th>Fecha de actualización</th>
                        <th>Acción</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Trident</td>
                        <td>Internet
                            Explorer 4.0
                        </td>
                        <td>Win 95+</td>
                        <td> 4</td>
                        <td>X</td>
                    </tr>
                </tbody>  
            </table>
        </div>
        <!-- /.card-body -->
    </div>
</div>